USE [master]
GO
/****** Object:  Database [stok_takip_db]    Script Date: 3.11.2025 21:37:43 ******/
CREATE DATABASE [stok_takip_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stok_takip_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stok_takip_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stok_takip_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\stok_takip_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stok_takip_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stok_takip_db]
GO
/****** Object:  Table [dbo].[kategoriler]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategoriler](
	[kategori_id] [int] IDENTITY(1,1) NOT NULL,
	[kategori_adi] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kategori_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteriler]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [nvarchar](200) NULL,
	[telefon] [nvarchar](50) NULL,
	[mail] [nvarchar](200) NULL,
	[adres] [nvarchar](500) NULL,
	[firma_adi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personeller]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personeller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NULL,
	[soyad] [nvarchar](100) NULL,
	[telefon] [nvarchar](50) NULL,
	[mail] [nvarchar](200) NULL,
	[kullanici_adi] [nvarchar](100) NULL,
	[sifre] [nvarchar](200) NULL,
	[yetki_id] [int] NULL,
	[adres] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satis_detaylari]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis_detaylari](
	[satis_detay_id] [int] IDENTITY(1,1) NOT NULL,
	[satis_id] [int] NOT NULL,
	[urun_kodu] [int] NOT NULL,
	[miktar] [int] NOT NULL,
	[fiyat] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[satis_detay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satislar]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satislar](
	[satis_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NULL,
	[personel_id] [int] NULL,
	[satis_tarih] [datetime] NULL,
	[notlar] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[satis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tedarikciler]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tedarikciler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firma_adi] [nvarchar](200) NOT NULL,
	[yetkili_adi_soyadi] [nvarchar](200) NULL,
	[telefon] [nvarchar](50) NULL,
	[mail] [nvarchar](200) NULL,
	[adres] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[urun_kodu] [int] IDENTITY(1001,1) NOT NULL,
	[urun_adi] [nvarchar](200) NOT NULL,
	[kategori_id] [int] NULL,
	[tedarikci_id] [int] NULL,
	[stok_adedi] [int] NULL,
	[fiyat] [decimal](18, 2) NULL,
	[aciklama] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[urun_kodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yetkiler]    Script Date: 3.11.2025 21:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yetkiler](
	[yetki_id] [int] IDENTITY(1,1) NOT NULL,
	[yetki_adi] [nvarchar](100) NOT NULL,
	[aciklama] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[yetki_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[personeller]  WITH CHECK ADD  CONSTRAINT [FK_personeller_yetkiler] FOREIGN KEY([yetki_id])
REFERENCES [dbo].[yetkiler] ([yetki_id])
GO
ALTER TABLE [dbo].[personeller] CHECK CONSTRAINT [FK_personeller_yetkiler]
GO
ALTER TABLE [dbo].[satis_detaylari]  WITH CHECK ADD  CONSTRAINT [FK_satis_detaylari_satislar] FOREIGN KEY([satis_id])
REFERENCES [dbo].[satislar] ([satis_id])
GO
ALTER TABLE [dbo].[satis_detaylari] CHECK CONSTRAINT [FK_satis_detaylari_satislar]
GO
ALTER TABLE [dbo].[satis_detaylari]  WITH CHECK ADD  CONSTRAINT [FK_satis_detaylari_urunler] FOREIGN KEY([urun_kodu])
REFERENCES [dbo].[urunler] ([urun_kodu])
GO
ALTER TABLE [dbo].[satis_detaylari] CHECK CONSTRAINT [FK_satis_detaylari_urunler]
GO
ALTER TABLE [dbo].[satislar]  WITH CHECK ADD  CONSTRAINT [FK_satislar_musteriler] FOREIGN KEY([musteri_id])
REFERENCES [dbo].[musteriler] ([id])
GO
ALTER TABLE [dbo].[satislar] CHECK CONSTRAINT [FK_satislar_musteriler]
GO
ALTER TABLE [dbo].[satislar]  WITH CHECK ADD  CONSTRAINT [FK_satislar_personeller] FOREIGN KEY([personel_id])
REFERENCES [dbo].[personeller] ([id])
GO
ALTER TABLE [dbo].[satislar] CHECK CONSTRAINT [FK_satislar_personeller]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_kategoriler] FOREIGN KEY([kategori_id])
REFERENCES [dbo].[kategoriler] ([kategori_id])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_kategoriler]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_tedarikciler] FOREIGN KEY([tedarikci_id])
REFERENCES [dbo].[tedarikciler] ([id])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_tedarikciler]
GO
USE [master]
GO
